{% extends 'partials/_base.html' %}


{% block partials_base %}
    <div class="container w-25 mt-5 p-3 text-bg-light rounded">
        <p class="fs-1 text-center"> <span class="badge text-light text-bg-dark">Cadastrar Usuario</span></p>
        {% include 'partials/_alertas.html' %}
        <form action="{% url 'cadastrar_usuario' %}" method="POST" class="m-3 p-3" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in form %}
                <div class="form-floating mb-3">
                    {{ campo }}
                    <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                    {{ campo.errors}}
                </div>
            {% endfor %}
            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="reset" value="Limpar" class="btn btn-warning">
        </form>
    </div>
{% endblock %}