{% extends 'partials/_base.html' %}

{% block partials_base %}



    <div class="container w-25 mt-5 p-3">
        <p class="fs-1 text-center"> <span class="badge text-light">Fazer Login</span></p>
        {% include "partials/_alertas.html" %}
        <form method="post" action="{% url 'login' %}" class="m-3 p-3">
            {% csrf_token %}
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" placeholder="dendi" autocomplete="off" name="username">
                    <label for="username">Nome de usuário</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" placeholder="********" autocomplete="off" name="password">
                    <label for="password">Senha</label>
                </div>
            <input type="submit" value="Login" class="btn btn-primary">
            <input type="reset" value="Limpar" class="btn btn-warning">
        </form>
        <a href="{% url 'resetar_senha' %}"><button class="btn btn-danger"> Esqueceu a senha? </button></a>
    </div>

{% endblock %}