{% extends 'partials/_base.html' %}

{% block partials_base %}

{% if form.errors %}
    <p>Login ou senha inválidos. Tente novamente</p>
{% endif %}

    <form method="post" action="{% url 'login' %}" class="m-3 p-3">
        {% csrf_token %}
            {% for campo in form %}
            <div class="m-1 p-1">
                <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                {{ campo }}
                {{ campo.errors}}
            </div>
            {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary">
        <input type="reset" value="Limpar" class="btn btn-warning">
    </form>
    <a href="{% url 'resetar_senha' %}"><button class="btn btn-danger"> Esqueceu a senha? </button></a>


{% endblock %}