{% extends 'partials/_base.html' %}

{% block partials_base %}

{% if form.errors %}
    <p>Login ou senha inválidos. Tente novamente</p>
{% endif %}

    <form method="post" action="{% url 'login' %}" class="m-3 p-3">
        {% csrf_token %}
            {% for campo in form %}
            <div class="m-1 p-1">
                <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                {{ campo }}
                {{ campo.errors}}
            </div>
            {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary">
        <input type="reset" value="Limpar" class="btn btn-warning">
    </form>
    <a href="{% url 'resetar_senha' %}"><button class="btn btn-danger"> Esqueceu a senha? </button></a>




<!--<div class="main-login">-->
<!--    <div class="left-login">-->
<!--        <h1>Faça Login<br> E desfrute do melhor site de games</h1>-->
<!--        <img width="500px" src="video.svg" alt="">-->
<!--    </div>-->
<!--    <div class="right-login">-->
<!--        <div class="card-login">-->
<!--            <h1>LOGIN</h1>-->


<!--            <div class="text-field">-->
<!--                <label for="usuario">Usuário</label>-->
<!--                <input type="text" name="usuario" placeholder="Usuário">-->
<!--            </div>-->
<!--            <div class="text-field">-->
<!--                 <label for="senha">Senha</label>-->
<!--                 <input type="password" name="Senha" placeholder="Senha">-->
<!--            </div>-->


<!--            <button class="btn-login">Login</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



{% endblock %}