<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Redefinir senha</button>


    <div class="container w-25 mt-5 p-3">
        <h1> <span class="badge text-light">Redefinir senha</span> </h1>
        <form method="post">
        {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="email" autocomplete="off" name="email" class="form-control">
                <label for="email">Email</label>
            </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    </div>


</form>
