{% extends 'partials/_base.html' %}
{% load static %}



{% block partials_base %}

<br><br><br><br>
    <form action="{% url 'index' %}" method="GET">
        {% csrf_token %}
        <div class="">
            <div class="">
                <label for="busca">Encontre um jogador</label>
                <input type="text" name="busca" placeholder="Ex: Paulo Vitor" required autocomplete="off" id="busca">
            </div>

            <input type="submit" value="Buscar" class="botao-salvar" >
        </div>
    </form>

<br><br><br><br>
<hr>
    {% for plataforma in plataformas %}
        {% if plataforma is not list %}
        <ul>

            <li>-------{{ plataforma }}*****</li>

        </ul>
        {% endif %}
    {% endfor %}

<br><br><br><br>
<h1>JOGOS</h1>
    {% for jogo in jogos %}
    <ul>
        <li>{{ jogo }}</li>
    </ul>
    {% endfor %}
<br><br>
<hr>
<h2>JOGADORES</h2>
    {% for jogador in jogadores %}

    <ul>
        <li>{{jogador}}</li>
    </ul>
    {% endfor%}


{% include 'partials/_alertas.html' %}

{% endblock %}